Map
<div id="map"></div>

<script>

    var map = L.map('map', {scrollWheelZoom:false}).setView([41.87810, -87.62980], 11.5);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var high = <%= complaints_greater_than(15).to_json.html_safe  %>
    var med = <%= complaints_greater_than(10).to_json.html_safe %>
    var low = <%= complaints_greater_than(5).to_json.html_safe %>


    function getColor(shape_area) {
      if (high.includes(shape_area)) {
        return '#800026';
      } else if (med.includes(shape_area)){
        return '#FC4E2A';
      } else if (low.includes(shape_area)){
        return '#FEB24C';
      } else {
        return '#FFEDA0';
      }
    }

    function style(feature) {
        return {
            fillColor: getColor(feature.properties.shape_area),
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7
        };
    }


    var geo = L.geoJson(chicagoData, {style: style}).addTo(map);

    // L.geoJson(chicago_neighborhoods, {style: style}).addTo(map);


</script>
