<!DOCTYPE html>
<html>
  <head>
    <title>Noisiest Neighborhoods</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="chicagozip.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
